.vscode/
._*
*/._*
*.pyc
*.mat
*.nc
*.af
*.o
*.hpp
*.pkl
*.npy
*tar
*.tar.gz
*.log
manuscript/Coauthor_comments/
manuscript/Lake_drainage_preprint/

oldpar/
test/
[TEST]*

build/

*cache*
*egg-info*

*OUTPUT*
*logs*
*RES*
*TMP*
*[R]UN*
*STATUSES*
*MISC*

.ipynb_checkpoints

*.bin
*.errlog
*.outlog
*.queue
*.toolkits
*.err
*.out

