.vscode/
._*
*/._*
*.pyc
*.mat
*.nc
*.o
*.hpp
*.pkl
*.npy
*tar
*.tar.gz

build/

*cache*
*egg-info*

*OUTPUT*
*TMP*
*RUN*
*STATUSES*
*MISC*

.ipynb_checkpoints

*.bin
*.errlog
*.outlog
*.queue
*.toolkits
*.err
*.out

